fastapi
uvicorn
pydantic
sqlalchemy
pyjwt
passlib
pydantic-settings
asyncpg
pydantic[email]
python-multipart
alembic
aiosqlite
pika
python-json-logger
requests
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-requests
